.DS_Store
.vscode/
*.pyc
__pycache__/
*.tfrecord
svhn/
multi_svhn/
svhn_acnn_model/
svhn_acnn_model_1/
svhn_acnn_model_2/
mnist_cnn_model/
mnist_acnn_model/
multi_mnist_cnn_model/
multi_mnist_acnn_model/